
body{
  margin-right: 15%;
  margin-left: 15%;
}


h1{
  text-align: center;
}


.border{
  border-style:solid;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
  color: red;
  margin-left: 50px;
  padding: 5px;
}

.correct{
border-color: green;
border-width: 3px;
}

.incorrect{
  border-color: red;
  border-width: 3px;
}
